<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="#">
        <fa-icon [icon]="faHeartBroken"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faHeartBroken"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faHeartBroken"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faHeartBroken"></fa-icon>
      </a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Inicio</a></li>
      <li class="list-inline-item"><a href="#">Politica</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terminos</a></li>
    </ul>
    <p class="copyright">Diafragma Company</p>
  </footer>
</div>
