<div class="row justify-content-center" style="height: 100vh; display: flex; align-content: center; justify-content: center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-historia-clinica-heading" data-cy="HistoriaClinicaCreateUpdateHeading" jhiTranslate="diafragmaApp.historiaClinica.home.createOrEditLabel">
                Create or edit a Historia Clinica
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="editForm.get('id')!.value == null">
                    <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                    <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diafragmaApp.historiaClinica.diagnostico" for="field_diagnostico">Diagnostico</label
          >
          <input
            type="text"
            class="form-control"
            name="diagnostico"
            id="field_diagnostico"
            data-cy="diagnostico"
            formControlName="diagnostico"
          />
          <div *ngIf="editForm.get('diagnostico')!.invalid && (editForm.get('diagnostico')!.dirty || editForm.get('diagnostico')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('diagnostico')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="diafragmaApp.historiaClinica.tratamiento" for="field_tratamiento"
            >Tratamiento</label
          >
          <input
            type="text"
            class="form-control"
            name="tratamiento"
            id="field_tratamiento"
            data-cy="tratamiento"
            formControlName="tratamiento"
          />
          <div *ngIf="editForm.get('tratamiento')!.invalid && (editForm.get('tratamiento')!.dirty || editForm.get('tratamiento')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tratamiento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="diafragmaApp.historiaClinica.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" name="categoria" formControlName="categoria" id="field_categoria" data-cy="categoria">
            <option [ngValue]="null">{{ 'diafragmaApp.Categoria.null' | translate }}</option>
            <option value="EMERGENCIA">{{ 'diafragmaApp.Categoria.EMERGENCIA' | translate }}</option>
            <option value="CONSULTA">{{ 'diafragmaApp.Categoria.CONSULTA' | translate }}</option>
            <option value="HOSPITALIZACION">{{ 'diafragmaApp.Categoria.HOSPITALIZACION' | translate }}</option>
            <option value="OTRAS">{{ 'diafragmaApp.Categoria.OTRAS' | translate }}</option>
          </select>
                    <div *ngIf="editForm.get('categoria')!.invalid && (editForm.get('categoria')!.dirty || editForm.get('categoria')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('categoria')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diafragmaApp.historiaClinica.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" data-cy="fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                    <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
            </div>
        </form>
    </div>
</div>