<div style="height: 100vh; display: flex; align-content: center; justify-content: center; padding-top: 10vh">
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2 jhiTranslate="" [translateValues]="{ username: account.login }">
                "<strong>{{ account.login }}</strong
        >": Modificando tu contraseña
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Contraseña modificada exitosamente!</strong>
        </div>

        <div class="alert alert-danger" *ngIf="error"><strong>Hubo un error.</strong> No se pudo cambiar la contraseña.</div>

        <div class="alert alert-danger" *ngIf="doNotMatch">La contraseña y su confirmación son diferentes!</div>

        <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
            <div class="form-group">
                <label class="form-control-label" for="currentPassword">Contraseña actual</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Contraseña actual" formControlName="currentPassword" data-cy="currentPassword" />

                <div *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            ">
                    <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Debe ingresar su contraseña.
            </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nueva contraseña" formControlName="newPassword" data-cy="newPassword" />

                <div *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            ">
                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              Debe ingresar su contraseña.
            </small>

                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Su contraseña debe tener al menos 4 caracteres.
            </small>

                    <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Su contraseña no puede contener más de 50 caracteres.
            </small>
                </div>

                <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="confirmPassword">Confirme la nueva contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nueva contraseña" formControlName="confirmPassword" data-cy="confirmPassword" />

                <div *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            ">
                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Debe confirmar su contraseña.
            </small>

                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Su contraseña debe tener al menos 4 caracteres.
            </small>

                    <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Su contraseña no puede contener más de 50 caracteres.
            </small>
                </div>
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Guardar cambios</button>
        </form>
    </div>
</div>
</div>