<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="paciente">
      <h2 data-cy="pacienteDetailsHeading"><span jhiTranslate="diafragmaApp.paciente.detail.title">Paciente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paciente.id }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.dni">Dni</span></dt>
        <dd>
          <span>{{ paciente.dni }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.nombre">Nombre</span></dt>
        <dd>
          <span>{{ paciente.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.apellido">Apellido</span></dt>
        <dd>
          <span>{{ paciente.apellido }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.telefono">Telefono</span></dt>
        <dd>
          <span>{{ paciente.telefono }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.historiaClinica">Historia Clinica</span></dt>
        <dd>
          <span>{{ paciente.historiaClinica }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.paciente.mail">Mail</span></dt>
        <dd>
          <span>{{ paciente.mail }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/paciente', paciente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
