<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="turno">
      <h2 data-cy="turnoDetailsHeading"><span jhiTranslate="diafragmaApp.turno.detail.title">Turno</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ turno.id }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.turno.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'diafragmaApp.TurnoEstado.' + turno.estado }}">{{ turno.estado }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.turno.fechaHora">Fecha Hora</span></dt>
        <dd>
          <span>{{ turno.fechaHora | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.turno.motivo">Motivo</span></dt>
        <dd>
          <span>{{ turno.motivo }}</span>
        </dd>
        <dt><span jhiTranslate="diafragmaApp.turno.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ turno.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/turno', turno.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
