<body>
    <!-- INICIO PRIMERA SECCION -->
    <div class="inicio1">
        <div class="info-covid">
            <h1 class="texto-info">Conoce más acerca de cómo cuidarte del COVID-19</h1>
            <div class="btn-info" (click)="link()">
                <a class="txt-btn">Conocer más</a>
            </div>
        </div>
    </div>
    <!-- INICIO SEGUNDA SECCION -->
    <div class="covid-mundo">
        <h1 class="texto-mundo">Cómo el COVID ha cambiado el mundo</h1>
        <!-- CAROUSEL BOOTSTRAP -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="overlay-image" style="background-image: url(../../content/images/esalud.jpg)"></div>
                    <div class="container">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor tempore sapiente cum illum quas fuga, consequuntur laudantium, iure eius tenetur doloremque? Eos inventore officia exercitationem quibusdam officiis iure commodi? Repudiandae repellat
                            eius enim, harum nam dolorum unde. Tempora quod sunt soluta recusandae nisi cum error quidem iusto itaque, alias est quam vel dolorem odit repellat aliquam explicabo accusamus quis.
                        </p>
                        <h1>Example Headline</h1>
                        <a href="#" class="btn btn-lg btn-primary"> Sign Up Today </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image" style="background-image: url(../../content/images/estetoscopio.jpg)"></div>
                    <div class="container">
                        <h1>Example Headline</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor tempore sapiente cum illum quas fuga, consequuntur laudantium, iure eius tenetur doloremque? Eos inventore officia exercitationem quibusdam officiis iure commodi? Repudiandae repellat
                            eius enim, harum nam dolorum unde. Tempora quod sunt soluta recusandae nisi cum error quidem iusto itaque, alias est quam vel dolorem odit repellat aliquam explicabo accusamus quis.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary"> Sign Up Today </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image" style="background-image: url(../../content/images/esalud.jpg)"></div>
                    <div class="container">
                        <h1>Example Headline</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor tempore sapiente cum illum quas fuga, consequuntur laudantium, iure eius tenetur doloremque? Eos inventore officia exercitationem quibusdam officiis iure commodi? Repudiandae repellat
                            eius enim, harum nam dolorum unde. Tempora quod sunt soluta recusandae nisi cum error quidem iusto itaque, alias est quam vel dolorem odit repellat aliquam explicabo accusamus quis.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary"> Sign Up Today </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="sr-only">Anterior</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="sr-only">Siguiente</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
        </div>
        <!-- FIN CAROUSEL BOOTSTRAP -->
    </div>
    <!-- INICIO TERCERA SECCION -->
    <div class="esalud">
        <h1 class="texto-salud">El papel de la e-Salud en las enfermedades</h1>
        <h3 class="descrip-salud">
            Hay muchos ejemplos de la forma en que el uso de la eSalud en los sis-temas de salud puede abordar la demanda creciente de servicios de salud más accesibles, asequibles y de mejor calidad. La eSalud puede facilitar el acceso a servicios y a información
            sanitaria en zonas alejadas por medio de la telesalud, mejorar el intercambio de información y datos sobre la salud entre sistemas por medio de normas y de la interoperabilidad, captar información médica contenida en los expedientes médicos
            a fin de mejorar la eficiencia y la continuidad de la atención, permitir el acceso remoto seguro a los registros médicos electrónicos de los pacientes, ayudar a vigilar y notificar enfermedades con mayor frecuencia y con un período de latencia
            más corto en el sistema mediante el uso de dispositivos móviles, afrontar los desafíos para el personal de salud capacitado ofreciéndole educación continua por medio de plataformas de educación virtuales, y promover la búsqueda y el intercambio
            de información entre diferentes personas y grupos por medio de foros y otras redes sociales accesibles por internet y otros canales de comunicación.
        </h3>
    </div>
</body>