@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
    font-family: lato regular;
}

// INICIO PRIMERA SECCION
.inicio1 {
    background-color: #000;
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: 90vh;
}

.info-covid {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../content/images/medicos-pasillo.jpeg) no-repeat 50%;
    width: 100%;
    height: 90vh;
    background-size: cover;
}

.texto-info {
    // background-color: blue;
    color: white;
    margin-top: 15%;
    margin-left: 4.5rem;
    height: 3vw;
    font-size: 3vw;
    justify-content: center;
    font-weight: 900;
}

.btn-info {
    margin-top: 50px;
    border-radius: 5px;
    border-bottom: 3px solid #AC003A;
    background-color: #E91E63;
    height: 50px;
    width: 160px;
    margin-left: 4.5rem;
    display: flex;
    justify-content: center;
    transition: .2s;
    user-select: none;
}

.txt-btn {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
}

.btn-info:hover {
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #007E65;
    background-color: #1ABC9C;
    transform: scale(1.1);
}

.btn-info:active {
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #007E65 !important;
    background-color: #007E65 !important;
    transform: scale(1);
}

// BTN PRUEBA
.showmore-btn {
    position: absolute;
    bottom: 7%;
    height: 3rem;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
}

.showmore-btn a {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 3rem;
    text-align: center;
    color: white;
    background-color: #578bde;
}

.showmore-btn:hover {
    transform: scale(1.15) translateX(-18px);
}

.showmore-btn:hover i {
    animation: rotate 2s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

// INICIO SEGUNDA SECCION
.covid-mundo {
    // background-color: red;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.texto-mundo {
    color: black;
    margin-left: 3.5rem;
    font-weight: 900;
    height: 3vw;
    font-size: 3vw;
    justify-content: center;
}

.carousel-item {
    overflow: hidden;
    height: 32rem;
    border-radius: 15px;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: transform .3s ease;
    background: #000;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    margin-left: 8rem;
    max-width: 500px;
}

.overlay-image {
    // background: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

// INICIO TERCERA SECCION
.esalud {
    background-color: #000;
    color: white;
    height: 50%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../../content/images/esalud.jpg) no-repeat 50%;
    height: 80vh;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    // margin-bottom: 1rem;
}

.texto-salud {
    margin-top: 5rem;
    margin-left: 4rem;
    height: 3vw;
    font-size: 3vw;
    justify-content: center;
}

.descrip-salud {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    font-size: 1.3rem;
}

// RESPONSIVE
@media screen and (min-width: 2000px) {
    // PRIMERA SECCION
    .btn-info {
        height: 100px;
        width: 280px;
        margin-top: 80px;
    }
    .txt-btn {
        font-size: 35px;
        margin-top: 20px;
    }
    // TERCERA SECCION
    .texto-salud {
        margin-top: 30%;
    }
    .descrip-salud {
        margin-top: 15%;
    }
}

@media screen and (max-width: 1150px) and (min-width: 701px) {
    // PRIMERA SECCION
    .inicio1,
    .info-covid {
        height: 30vh;
    }
    .texto-info {
        margin-left: 2rem;
        margin-top: 5%;
    }
    .btn-info {
        height: 20px;
        width: 100px;
        margin-left: 2rem;
        margin-top: 10px;
    }
    .txt-btn {
        font-size: 10px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 700px) {
    // PRIMERA SECCION
    .inicio1,
    .info-covid {
        height: 30vh;
    }
    .texto-info {
        margin-left: 2rem;
    }
    .btn-info {
        height: 20px;
        width: 100px;
        margin-left: 2rem;
        margin-top: 10px;
    }
    .txt-btn {
        font-size: 10px;
        margin-top: 3px;
    }
    // SEGUNDA SECCION
    .texto-mundo {
        margin-left: 1rem;
    }
    // TERCERA SECCION
    .texto-salud {
        margin: 0;
        height: 40vh;
        font-size: 1.5rem;
        margin-top: 60%;
    }
    .descrip-salud {
        margin: 0;
        font-size: 0.8rem;
        margin-top: 20%;
    }
}

@media screen and (max-width: 539px) and (min-width: 480px) {
    // PRIMERA SECCION
    .inicio1,
    .info-covid {
        height: 30vh;
    }
    .texto-info {
        margin-left: 2rem;
    }
    .btn-info {
        height: 20px;
        width: 100px;
        margin-left: 2rem;
        margin-top: 10px;
    }
    .txt-btn {
        font-size: 10px;
        margin-top: 3px;
    }
    // SEGUNDA SECCION
    .texto-mundo {
        margin-left: 1rem;
    }
    // TERCERA SECCION
    .texto-salud {
        margin: 0;
        margin-top: 60%;
        height: 40vh;
        font-size: 1.5rem;
    }
    .descrip-salud {
        margin: 0;
        margin-top: 20%;
        font-size: 0.7rem;
        height: 40vh;
    }
}

@media screen and (max-width: 479px) {
    // PRIMERA SECCION
    .inicio1,
    .info-covid {
        height: 30vh;
    }
    .texto-info {
        margin-left: 2rem;
    }
    .btn-info {
        height: 20px;
        width: 100px;
        margin-left: 2rem;
        margin-top: 10px;
    }
    .txt-btn {
        font-size: 10px;
        margin-top: 3px;
    }
    // SEGUNDA SECCION
    .texto-mundo {
        margin-left: 1rem;
    }
    // TERCERA SECCION
    .texto-salud {
        margin: 0;
        height: 40vh;
        font-size: 1.5rem;
    }
    .descrip-salud {
        margin: 0;
        margin-top: -17rem;
        font-size: 0.7rem;
        height: 40vh;
    }
}